.create-chat-popup {
  position: absolute;
  left: 20vw;
  top: 10vh;
  z-index: 3;
  background: rgba(255, 255, 255, 0.95);
  width: 60vw;
  height: 80vh;
  display: none;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 15px;
}

.chat-list-item {
  cursor: pointer;
}

.chat-list-item:hover {
  background: rgba(158, 250, 255, 0.4);
}